@model IEnumerable<ApplicationCore.Models.MovieCardModel>

@foreach (var movie in Model)
{
    <a asp-controller="Movies" asp-action="Details" asp-route-id = "@movie.Id">
        <img src="@movie.PosterUrl"/>
    </a>
}