@model LoginViewModel;

@{ 
    ViewData["Title"] = "Log in to your account";
}
<div class="container vh-100 d-flex justify-content-center align-items-top">
    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body p-4">
                <h3 class="text-center mb-4">Login</h3>
                <form asp-action="Login" asp-controller="Account" method="post">
                    <div class="mb-3">
                        <label asp-for="EmailAddress" class="control-label"></label>
                        <input asp-for="EmailAddress" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" type="password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">
                        Login <i class="bi bi-box-arrow-in-right"></i>
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>
