@model IEnumerable<ApplicationCore.Entities.Genre>

<ul class="dropdown-menu dropdown-menu-light">
    @foreach (var genre in Model)
    {
        <li>
            <a class="dropdown-item" 
               asp-controller="Movies" 
               asp-action="ByGenre" 
               asp-route-genreId="@genre.Id">
                @genre.Name
            </a>
        </li>
    }
</ul>